/*////////////////////////////////////////////////////////////////////
/////  GRID STYLE
/////////////////////////////////////////////////////////////////////*/
.user_token{
	background-color: red;
}
.pc_token{
	background-color: yellow;
}